$toolbarHeight: 64px;
$sidenavWidth: 250px;

$tableErrorContentIconSize: 46px;
$tableEmptyContentIconSize: 46px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
